$def with (user, message)
<html>
  <head>
    <title>Sign up</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://127.0.0.1:8080/static/styles.css">
  </head>

  <body>
    <h1>Change Password for $user.name</h1>
    <p id="message">$:message</p>
    <form action="/user_edit?user_id=$user.id" method="post">
      <p>
        <label for="pword">Password: </label>
        <input type="password" id="pword" name="pword" value="">
      </p>
      <p>
        <label for="pword">Confirm Password: </label>
        <input type="password" id="pword" name="pword_confirmation" value="">
      </p>
      
      <input type="submit" value="Save changes">
    </form>
    <a href="/admin">Cancel</a>
  </body>
</html>