#timer {
    text-align: center;
    margin-top: 50px;
  }
  
  #time-left {
    font-size: 72px;
    margin-bottom: 20px;
  }
  
  #progress-bar {
    height: 100px;
    background-color: green;
    width: 500px;
    margin-bottom: 20px;
    margin: auto;
  }
  
  #controls {
    margin-top: 20px;
  }
  
  #controls button {
    font-size: 24px;
    margin-right: 10px;
  }
  
  #selector {
    text-align: center;
    margin-top: 20px;
  }
  
  #selector label {
    margin-right: 10px;
  }
  
  #selector input {
    width: 50px;
  }
  