/** {
    /* Forces padding and margin inside the element if possible *
    box-sizing: border-box;
}*/

body{
  background-color: #ada;
  font-size: 120%;
}

#titleBar {
    background-color: #4a4;
    text-align:center;
    width: 100%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

#linkBar_bottom {
    background-color: #8f8;
    width: 100%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
#linkBar {
    background-color: #8f8;
    height: 100%;
    width: 200px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    float: left;
}

#mainContent {
    background-color: #dfd;
    padding: 10px;
    margin: 10px;
    float: left;
    border-radius: 10px;
}

table td{
  text-align: center;
}

.center{
  text-align:center;
}

#linkBar a:link {text-decoration: none;}
#linkBar a:visited {text-decoration: none;}
#linkBar a:hover {background-color: #ada;}
#linkBar a:active {background-color: gray;}
#linkBar_bottom a:link {text-decoration: none;}
#linkBar_bottom a:visited {text-decoration: none;}
#linkBar_bottom a:hover {background-color: #ada;}
#linkBar_bottom a:active {background-color: gray;}
#linkBar a, #linkBar_bottom a {
  padding: 10px;
  display: block;
  border-radius: 10px;
}

/* These make the image grid: */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  text-align: center;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.itext{
  display: inline-block;
  background-color: #ada;
  padding: 5px;
  border-radius: 3px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
