body {
  background-color: lightgreen;
  font-size: 150%;
}

h1 {
  color: #483;
}

p#first {
  color: #351;
  font-weight: bold;
  background-color: pink;
  padding: 20px;
}
.important{
  color: red;
}
