$def with (notes)
<html>
  <head>
    <title>My notes</title>
    <style>

    </style>
  </head>

  <body>
    <h1>My Notes</h1>
    <ul>
      $for note in notes:
        <li id="note$note.id">
          $note.content
          <form action="/confirm_delete.html?note_id=$note.id" method="get">
            <input type="submit" id="delete" value="Delete">
          </form>
        </li>
    </ul>

    <form action="/" method="post">
      <p>
        <label for="note">Note: </label>
        <input type="text" id="note" name="note">
      </p>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>


