<html>
  <head>
    <title>Login</title>
  </head>

  <body>
    <h1>Login</h1>
    <form action="/" method="post">
      <table>
        <tr>
          <td>Username:</td>
          <td><input type="text" id="uname" name="uname"></td>
        </tr>
        <tr>
          <td>Password:</td>
          <td><input type="password" id="pword" name="pword"></td>
        </tr>
        <tr>
          <td><input type="submit" value="Submit"></td>
        </tr>
      </table>
    </form>
  </body>
</html>


