body {
  background-color: pink
}
h1 {
  text-align: center;
  font-size: 2cm;
  color: red;
  background-color: #555;
  border-radius: 30px;
}
p  {
  font-family: arial;
  font-size: 200%;
  font-weight: bold;
}
