<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Votre chambre</title>
  </head>

  <body>
    <h1>Où êtes vous?</h1>
    <h2><%= warning %></h2>
    <p>Vous êtes à l'etage <%= etage %>
      dans la chambre <%= chambre %>.</p>
  </body>
</html>
