* {
    /* Forces padding and margin inside the element if possible */
    box-sizing: border-box;
}

body {
  background-color: lightgreen;
  font-size: 150%;
}

h1 {
  color: #483;
}

p#first {
  color: #351;
  font-weight: bold;
  background-color: pink;
  padding: 20px;
}
.important{
  color: red;
}
#titleBar {
    background-color: yellow;
    text-align:center;
    height: 130px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

#linkBar {
    background-color: gray;
    width: 200px;
    float: left;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

#mainContent {
    background-color: #dfd;
    border-radius: 10px;
    padding: 10px;
    float: left;
    margin: 10px;
}
a {
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  margin: 10px;
}
a:hover {background-color: lightgreen;}
