a {
  background-color: grey;
  border-radius: 5px;
  font-size: 120%;
  font-weight: 550;
  color: white;
  padding: 4px 15px;
  text-align: center;
  display: inline-block;
}

a:link, a:visited {
  text-decoration: none;
}

a:hover, a:active {
  background-color: #66f;
}
