body{
    padding: 0 0 0 5px;
    margin: 0;
    border-left: 1cm solid rgb(186, 245, 186);
    border-top: 0.5cm solid rgb(67, 187, 67);
  }
  table{
    border-collapse: collapse;
  }
  td{
    border: 1px solid grey;
    padding: 0 10px;
  }
  input{
    padding: 3px;
    margin: 3px;
  }
  #message{
    color: green;
    font-weight: normal;
  }
  .important{
    font-weight: bold;
  }
  #user{
    color: red;
    font-weight: bold;
  }
  

