table{
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 0;
    height: 30px;
    width: 30px;
}
.value_x{
    background-color: red;
}
.value_o{
    background-color: lightgreen;
}