body{
    background-color:aquamarine;
    font-size: 200%;
    color: darkgreen;
}
.nice{
    font-weight: bold;
    color: pink
}
#Emma{
    font-style: italic;
    font-size: 130%;
    color: red;
}