input {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

table{
    border-collapse: collapse;
    margin: 10px 0;
}

td, th{
    border: 1px solid #ddd;
    padding: 5px;
}

.message{
    font-weight: bold;
    color: green;
}
.inline{
    display: inline;
}
.bold{
    font-weight: bold;
}

#linkbar{
  margin: 0;
  padding: 0;
}

#linkbar li {
  list-style-type: none;
  display: inline;
}

#linkbar a {
  text-decoration: none;
  margin: 0;
  padding: 10px;
  color: #444;
  background-color: #eeeeee;
}
#linkbar a.out{
  background-color: #ddddee;
}
#linkbar a:hover {
  background-color: #dddddd;
  color: #333;
}
#linkbar a.out:hover {
  background-color: #ddddff;
  color: #222;
}
/*#linkbar a:active {
    border: 2px solid black;
} Not workin because page changes..*/
