body{
  background-color: #aef;
}

#ground{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #5f5;
}

#snowEater {
position: absolute;
  bottom: 100px;
}

.snowFlake {
  position: absolute;
}

#points{
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 20px;
  background-color: grey;
  border-radius: 15px;
  color: black;
  font-size: 130%;
}
#amount{
  font-weight: bold;
}