<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>TODO</title>
  </head>

  <body>
    <h1>Ma todolist</h1>
    <ul>
      <%
      var len = list.length;

      for(var i = 0; i < len; i++){
        %>
          <li id = "<%= i %>">
            <form style="display: inline-block"
              action="/remove">
                <input type="text" style="display:none"
                  name="id" value="<%= list[i].id %>"
                />
                <input type="submit" value="X"/>
            </form>
            <%= list[i].task %>
          </li>
        <%
      }
      %>
    </ul>

    <p>Que dois-je faire? </p>
    <form id="myForm" action="/add">
      <input id="inputField" type="text" name="todo">
      <input type="submit" value="Valider">
    </form>

  </body>
</html>
