body {
  background-color: lightblue;
  font-size: 150%;
}
#intro{
  color: green;
}
.highlight{
  color: red;
  font-weight: bold;
}

.highlight:hover {
  background-color: yellow;
  font-size: 200%;
  animation-name: example;
  animation-duration: 5s;
}

@keyframes example {
  from {font-size: 100%; background-color: lightblue}
  to {font-size: 200%; background-color: yellow;}
}

a {
  background-color: grey;
  border-radius: 5px;
  color: white;
  padding: 8px 7px;
  margin: 5px;
  text-align: center;
  display: inline-block;
  text-decoration: none
}
